.statusbar-overlay {
    background: #000000;
}

.navbar {
    height: 55px;
}

.panel {
    background: #f7f7f8;
}

.panel .content-block .row {
    background: #efeff4;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-block .list-block-label {
    text-align: center;
    color: black;
    font-size: 14pt;
}

.list-block {
    font-size: 12pt;
}

#addDateBtn {
    margin-top: 10px;
}

#cities_dropdown {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 4em;
}

#addCityBtn {
    width: 130px;
}

#buttons_main {
    padding-top: 5em;
}

#buttons_main button {
    width: 200px;
}

.row {
    margin-bottom: 15px;
}